@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.homebanner {
  background-image: url("../public/images/background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar a.active {
  color: #de3435;
}

.man:hover .mensdropdown {
  display: block !important;
}

.women:hover .womensdropdown {
  display: block !important;
}

@media screen and (min-width: 1850px) {
  .homebanner {
    height: 85vh !important;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 50%);
  top: var(--swiper-pagination-top, auto);
  left: 96%;
  width: max-content;
  rotate: 90deg;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #171b26;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 10px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 10px)
  );
}
